.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  padding-bottom: 4rem; /* Add padding to accommodate the footer */
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.icon + .icon {
  margin-left: 1rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.inviteButton {
  width: 100%;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.invitedSection {
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  padding: 1rem;
}

.invitedHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.invitedIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.invitedTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.emptyState {
  text-align: center;
  padding: 2rem 0;
}

.emptyStateIcon {
  width: 3rem;
  height: 3rem;
  margin: 0 auto 1rem;
}

.emptyStateText {
  font-size: 1.125rem;
  font-weight: bold;
}

.notification {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #d1fae5;
  color: #047857;
  border-radius: 0.25rem;
}

.footerContainer {
  background-color: white;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footerLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  transition: color 0.3s;
  text-decoration: none;
}

.footerLink:hover {
  color: #2d3748;
}

.footerText {
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.activeFooterLink {
  position: relative;
}

.activeFooterLink::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
}
